    .feed-card{
    color: black;
}

.feed-sameline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feed-sameline > *{
    margin: 0px 15px;
}

.feedy a{
    text-decoration: none;
}

.feedy{
    max-width: 320px;
    border-radius: var(--card-border-radius);
    background-color: red;
    padding: 0px 0px 15px 0px;
}

.feed-image > img{
    max-width: 320px;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.feed-image{
    margin: 0px;
}

.delete-button, .edit-button{
    border-radius: var(--button-border-radius);
    height: 24px;
    border: none;
    background-color: blue;
    width: var(--button-width);
    color: aliceblue;
}

a.edit-button, a.delete-button{
    text-align: center;
}

.delete-button:hover{
    cursor: pointer;
}

.delete-overview{
    top: 5%;
    position: absolute;
    text-align: center;
    width: 90%;
    height: 90%;
    background-color: rgb(211, 211, 211, 80%);
    padding: auto;
    margin: auto;
    left: 5%;
    animation: popin 0.3s;
    border-radius: var(--card-border-radius);
}



.delete-overview h3 b{
    color: blue;
    text-transform: uppercase;
}

.delete>.delete-button{
    margin: 0px 10px;
}

@keyframes popin {
    0%{
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
    }
    100%{
        height: 90%;
        top: 5%;
        left: 5%;
    }
}